@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-color1;
}

*::selection {
    @apply text-color1;
    background: #6d9d9a75;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    @apply  text-color1;
    margin: 0;
}

h1 {
    @apply text-4xl font-bold;
}

p {
    @apply select-auto;
    @apply text-sm whitespace-pre-line leading-6 tracking-wider;
}

button,
.button {
    @apply px-4 py-2 rounded-xl  text-center font-bold;
}

img{
    -webkit-user-drag: none;
    user-select: none;
}

.test{
    @apply text-color1;
}